/* INIZIO COMMON */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.contenitore{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

/* FINE COMMON */

/* INIZIO HEADER */

header{
    background-color: #fff;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 15px;
}

.nav-lato.clearfix{
    width: 100%;
}

.nav-lato-sx{
    float: left;
}

.nav-lato-dx{
    float: right;
}

nav img{
    vertical-align: middle;
    margin-right: 20px;
}

li{
    display: inline-block;
}

li a{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}


.nav-lato-logo:hover{
    background-color: transparent;
    cursor: pointer;
}

.bottone{
    background-color: #0070e0;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}


/* FINE HEADER */

.contenitore-jumbotron {
    width: 100%;
    height: 500px;
}

.jumbotron {
    width: 100%;
    height: 450px;
    background-color: lightsteelblue;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
    max-width: 1180px;

}

.contenitore-main {
    height: 750px;
    background-color: lightcoral;
}

#testo {
    background-color: lightsalmon;
    width: 80%;
    margin: auto;
}

#selezioni {
    background-color: lightskyblue;
    width: 80%;
    margin: auto;

}

.contenitore-flottanti {
    width: 80%;
    height: 70%;
    margin: auto;
}

.cont-sinistra {
    float: left;
    background-color: lightgreen;
    width: 32%;
    height: 100%;
    margin-right: 2%;
}

.cont-centro {
    display: inline-block;
    background-color: lightgreen;
    width: 32%;
    height: 100%;
    margin-right: 2%;
}

.cont-destra{
    float: right;
    background-color: lightgreen;
    width: 32%;
    height: 100%;

}


#contenitorelungocentro {
    width: 80%;
    margin: auto;
    background-color: lightslategrey;
    height: 25%;
}

.contenitore-main-due {
    height: 350px;
    background-color: lightsalmon;

}

.contenitore-flottanti-due {
    height: 100%;
    width: 80%;
    margin: auto;
}

.cont-sinistra-due {
    float: left;
    background-color: lightgreen;
    width: 50%;
    height: 100%;
}

.cont-destra-due {
    float: right;
    background-color: lightgreen;
    width: 50%;
    height: 100%;
}

.contenitore-main-tre {
    height: 300px;
    background-color: lightsalmon;
}

.contenitore-flottanti-tre {
    height: 100%;
    width: 80%;
    margin: auto;
}

.contentiore-sinistra-tre {
    float: left;
    background-color: lightgreen;
    width: 32%;
    height: 90%;
    margin-right: 2%;

}

.contentiore-centro-tre {
    display: inline-block;
    background-color: lightgreen;
    width: 32%;
    height: 90%;
    margin-right: 2%;

}

.contentiore-destra-tre {
    float: right;
    background-color: lightgreen;
    width: 32%;
    height: 90%;

}

.contenitore-main-quattro {
    height: 300px;
    background-color: lightskyblue;
}

.contenitore-flottanti-quattro {
    height: 100%;
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.contenitore-main-cinque {
    height: 150px;
    background-color: lightslategrey;
}